@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600&family=Cinzel:wght@400;600&family=Cormorant+Garamond:wght@300;400;700&family=Cormorant+SC&family=Ibarra+Real+Nova:wght@500&family=Julius+Sans+One&family=Lato:wght@300&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;500&family=Playfair+Display&family=Poiret+One&family=Quicksand&family=Raleway:wght@300;500;700&family=WindSong:wght@500&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Bodoni Moda', serif;
font-family: 'Cinzel', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Cormorant SC', serif;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'WindSong', cursive;
 */

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

html {
  font-size: 61.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: rgb(255, 83, 83);
}

html::-webkit-scrollbar-thumb {
  background: #c94343;
}

section {
  padding: 3rem 9%;
}

.heading {
  
  background: rgba(31, 17, 0, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-around;
        padding: 1rem 1rem 1rem 1rem;
}

.heading h3 {

  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.heading p {
  color: #fff;
  font-size: 2rem;
}

.heading p span {
  color: yellow;
}

.heading p a {
  color: #fff;
}

.heading p a:hover {
  color: yellow;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-evenly;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #244d4d;
  padding-bottom: 1.5rem;
}

.title span {
  font-size: 2.5rem;
  color: #244d4d;
}

.title a {
  font-size: 1.5rem;
  color: #779;
}

.title a:hover {
  color: #244d4d;
}

.btn {
  text-transform:uppercase;
  font-family: 'Julius Sans One', sans-serif;
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  background: rgb(255, 187, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn:hover {
  color:rgb(255, 187, 0);
  background: #000000;
}

.header {
  padding: 1rem 1rem 1rem 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgb(255, 187, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* -webkit-box-shadow: 0 0 500vw rgb(253, 228, 3);
      box-shadow:  0 0 11rem rgb(255, 81, 0); */
  -webkit-transition: 1.4s vertical;
}


.header .logo {
  font-size: 2.0rem;
  color: #244d4d;
  font-weight: bolder;
}

.header img {
  padding: 0rem 0rem 0rem 0rem;
  text-align:center;
  height:5rem;
}


.header .icons div {
  /* margin-left: 0rem; */
  padding: 0rem 1rem 0rem 0rem;

  font-size: 2rem;
  cursor: pointer;
  color: #000000;
}

.header .icons div:hover {
  color: rgb(85, 6, 0);
}

/* #search-btn {
  display: none;
} */

@-webkit-keyframes rotate {
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

#closer {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  font-size: 5rem;
  cursor: pointer;
  z-index: 10000;
  color: #000000;
  -webkit-animation: rotate .4s linear .4s backwards;
          animation: rotate .4s linear .4s backwards;
  display: none;
}

#closer:hover {
  color: rgb(46, 27, 6);
}

.navbar {
  
  position: fixed;
  top: 20;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 65vh;
  background-image: linear-gradient(black,rgba(61, 35, 0, 0.87), rgb(0, 0, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-top-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
}

.navbar.active {
  right: 0;
  /* -webkit-box-shadow: 0 0 500vw rgb(253, 228, 3);
          box-shadow: 0 0 500vw rgb(253, 145, 3); */
  -webkit-transition: 2.4s circle;
  transition: 2.4s circle;
}

.navbar a {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 2.5rem;
  color: #ffffff;
}

.navbar a:hover {
  color: rgb(255, 217, 0);
}


@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

.home {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 179));
  position: relative;
  justify-content: center;
  align-items: center;
}

.home .slides-container .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}

.home .slides-container .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slides-container .slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-animation: fadeLeft .4s linear .4s backwards;
          animation: fadeRight .4s linear .4s backwards;
}

.home .slides-container .slide .content span {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
}

.home .slides-container .slide .content h3 {
  font-family: 'Bodoni Moda', serif;
  font-size: 6rem;
  color: #181008;
  padding-top: .5rem;
}

.home .slides-container .slide .content p {
  font-size: 2rem;
  color: rgb(83, 33, 0);
  padding: .5rem 0;
  line-height: 2;
}

.home .slides-container .slide .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
          padding: 2rem 2rem 2rem 2rem;
  


}

.home .slides-container .slide .image img {
  width: 70%;
  /* -webkit-animation: fadeOut .4s linear; */
  animation: 3s ease-in 1s infinite reverse both running slidein;
}

.home #slide-next,
.home #slide-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  /* border: 0.1rem solid #244d4d; */
  border-radius:5rem;
  text-align: center;
  background: rgb(255, 187, 0);
  cursor: pointer;
}

.home #slide-next:hover,
.home #slide-prev:hover {
  background: #000000;
  color: rgb(255, 187, 0);
}

.home #slide-next {
  right: 2rem;
}

.home #slide-prev {
  left: 2rem;
}

.banner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.banner-container .banner {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-container .banner .content span {
  font-size: 1.7rem;
  color: #779;
}

.banner-container .banner .content h3 {
  padding-top: .5rem;
  font-size: 2.2rem;
  color: #000000;
}

.banner-container .banner .content .btn {
  padding: .7rem 2.5rem;
}





.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  
}

.category .box-container .box {
  padding: 2rem;
  /* border: 0.1rem solid #000000; */
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: rgb(255, 251, 241);
  box-shadow: rgb(38, 77, 72) 0px 20px 30px -10px;
}

.category .box-container .box:hover {
  background: rgb(247, 241, 212);
    /* border: 0.1rem solid #000000; */

}

.category .box-container .box:hover img {
  -webkit-filter: invert(1);
  filter: contrast(1200%);          
}

.category .box-container .box:hover h3 {
  color: #f2f2f2;
}

.category .box-container .box img {
  height: 6rem;
  margin-bottom: 1rem;
}

.category .box-container .box h3 {
  font-size: 1.7rem;
  color: #000000;
}





.products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(26rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem;

}

.products .box-container .box {
  position: relative;
  background: #f2f2f2;
  overflow: hidden;
  box-shadow: rgb(77, 47, 38) 0px 30px 30px -10px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

}

.products .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.products .box-container .box:hover .icons {
  top: 0;
}

.products .box-container .box .icons {
  position: absolute;
  top: -100%;
  left: 0;
  height: 30rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  background: rgba(242, 242, 242, 0.7);
  z-index: 10;
}

.products .box-container .box .icons a {
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  width: 5rem;
  background: #fff;
  color: #244d4d;
  font-size: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.products .box-container .box .icons a:hover {
  background: #244d4d;
  color: #fff;
}

.products .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .box-container .box .content {
  padding: 1.5rem 2rem;
}

.products .box-container .box .content .price {
  font-size: 1.7rem;
  color: #779;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #244d4d;
  padding: .5rem 0;
}

.products .box-container .box .content .stars {
  font-size: 1.7rem;
}

.products .box-container .box .content .stars i {
  color: gold;
}

.products .box-container .box .content .stars span {
  color: #779;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content span {
  font-size: 2rem;
  color: #779;
}

.about .content h3 {
  font-size: 2.5rem;
  color: #244d4d;
  padding-top: 1rem;
}

.about .content p {
  font-size: 1.4rem;
  color: #779;
  padding: 1rem 0;
  line-height: 2;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #244d4d;
}

.services .box-container .box img {
  height: 8rem;
  margin-bottom: 1rem;
}

.services .box-container .box h3 {
  font-size: 2.2rem;
  color: #244d4d;
}

.services .box-container .box p {
  font-size: 1.4rem;
  color: #779;
  line-height: 2;
  padding: 1rem 0;
}

.team .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.team .box-container .box {
  position: relative;
  overflow: hidden;
  border: 0.1rem solid #244d4d;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #f6fbf6;
}

.team .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team .box-container .box:hover .share {
  left: 0;
}

.team .box-container .box .share {
  width: 7rem;
  height: 50rem;
  position: absolute;
  top: 0;
  left: -8rem;
  z-index: 10;
  background: #244d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .7rem;
}

.team .box-container .box .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.2rem;
  color: #fff;
  border: 0.1rem solid #fff;
  text-align: center;
}

.team .box-container .box .share a:hover {
  background: #fff;
  color: #244d4d;
}

.team .box-container .box .image {
  height: 50rem;
  width: 100%;
  overflow: hidden;
}

.team .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .box-container .box .user {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .box-container .box .user h3 {
  font-size: 2rem;
  color: #244d4d;
}

.team .box-container .box .user span {
  font-size: 1.5rem;
  color: #779;
}

.blog .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blog .box-container .box {
  border: 0.1rem solid #244d4d;
  background: #f6fbf6;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.blog .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blog .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .box-container .box .content {
  padding: 1.5rem 2rem;
}

.blog .box-container .box .content h3 {
  font-size: 2rem;
  color: #244d4d;
}

.blog .box-container .box .content p {
  font-size: 1.4rem;
  color: #779;
  line-height: 2;
  padding: 1rem 0;
}

.blog .box-container .box .content .icons {
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 0.1rem solid #244d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .box-container .box .content .icons a {
  font-size: 1.4rem;
  color: #779;
}

.blog .box-container .box .content .icons a:hover {
  color: #244d4d;
}

.blog .box-container .box .content .icons a i {
  padding-right: .5rem;
  color: #244d4d;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 0;
}

.contact form {
  padding: 3rem;
  background: #f6fbf6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #244d4d;
}

.contact form span {
  display: block;
  padding-bottom: 1rem;
  color: #779;
  font-size: 1.6rem;
}

.contact form .box {
  width: 100%;
  background: none;
  border-bottom: 0.1rem solid #244d4d;
  font-size: 1.6rem;
  color: #244d4d;
  text-transform: none;
  padding: .5rem 0;
  margin-bottom: 1rem;
}

.contact form textarea {
  height: 15rem;
  resize: none;
}

.contact .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  width: 100%;
}






.credit {
  padding:2rem 1rem 1rem 1rem;
  text-align: center;
  background-image:linear-gradient(white, white, rgb(199, 131, 4));
}

.credit a{
  padding:1rem 2rem 1rem 2rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.credit b{
  padding:1rem 2rem 1rem 2rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.credit .box{
  padding:1rem 1rem 1rem 1rem;

}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home #slide-next,
  .home #slide-prev {
    top: 95%;
  }
  .home #slide-prev {
    left: auto;
    right: 8rem;
  }
}

@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }
  .header .search-form {
    position: absolute;
    top: -101%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
  .header .search-form.active {
    top: 99%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slides-container .slide .content h3 {
    font-size: 4rem;
  }
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */

































.shopping-cart .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.shopping-cart .box .fa-times {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: #779;
  cursor: pointer;
}

.shopping-cart .box .fa-times:hover {
  color: #244d4d;
}

.shopping-cart .box img {
  height: 8rem;
}

.shopping-cart .box .content h3 {
  color: #244d4d;
  font-size: 1.8rem;
  padding-bottom: .5rem;
}

.shopping-cart .box .content span {
  font-size: 1.5rem;
  color: #779;
}

.shopping-cart .box .content span.multipy {
  margin: 0 1rem;
}












.outer-wrapper {
  width: 0%;
  margin: 1rem auto;
}

.s-wrap {
  width: 90%;
  /* margin-bottom: 100px; */
  padding-bottom: 55%;
  position: relative;
  border: 0px solid #fff;
  background-color: #000000;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
}

.s-wrap > input {
  display: none;
}

.s-wrap .s-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  font-size: 0;
  list-style: none;
  transition: transform 1s;
}

.s-wrap .s-item {
  display: inline-flex;
  width: 20%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.s-wrap .s-item-1 {
  background-image: url("https://images.unsplash.com/photo-1597589827317-4c6d6e0a90bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
}
.s-wrap .s-item-2 {
  background-image: url("https://images.unsplash.com/photo-1456318019777-ccdc4d5b2396?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
}
.s-wrap .s-item-3 {
  background-image: url("https://images.unsplash.com/photo-1428189923803-e9801d464d76?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
}
.s-wrap .s-item-4 {
  background-image: url("https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
}
.s-wrap .s-item-5 {
  background-image: url("https://images.unsplash.com/photo-1439736637365-748f240b24fb?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
}

.s-type-1 .s-control {
  position: absolute;
  bottom: 18px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition-timing-function: ease-out;
}
.s-type-1 .s-control > label[class^=s-c-] {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #999;
  background-color: #efefe8;
  cursor: pointer;
}
.s-type-1 .s-nav label {
  display: none;
  position: absolute;
  top: 50%;
  padding: 5px 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
  content: "";
  display: block;
  width: 8px;
  height: 24px;
  background-color: #fff;
}
.s-type-1 .s-nav label::before {
  margin-bottom: -12px;
}
.s-type-1 .s-nav label.left {
  left: 20px;
}
.s-type-1 .s-nav label.left::before {
  transform: rotate(45deg);
}
.s-type-1 .s-nav label.left::after {
  transform: rotate(-45deg);
}
.s-type-1 .s-nav label.right {
  right: 20px;
}
.s-type-1 .s-nav label.right::before {
  transform: rotate(-45deg);
}
.s-type-1 .s-nav label.right::after {
  transform: rotate(45deg);
}
.s-type-1 #s-1:checked ~ .s-content {
  transform: translateX(0%);
}
.s-type-1 #s-1:checked ~ .s-control .s-c-1 {
  background-color: #333;
}
.s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
  display: block;
}
.s-type-1 #s-2:checked ~ .s-content {
  transform: translateX(-20%);
}
.s-type-1 #s-2:checked ~ .s-control .s-c-2 {
  background-color: #333;
}
.s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
  display: block;
}
.s-type-1 #s-3:checked ~ .s-content {
  transform: translateX(-40%);
}
.s-type-1 #s-3:checked ~ .s-control .s-c-3 {
  background-color: #333;
}
.s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
  display: block;
}
.s-type-1 #s-4:checked ~ .s-content {
  transform: translateX(-60%);
}
.s-type-1 #s-4:checked ~ .s-control .s-c-4 {
  background-color: #333;
}
.s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
  display: block;
}
.s-type-1 #s-5:checked ~ .s-content {
  transform: translateX(-80%);
}
.s-type-1 #s-5:checked ~ .s-control .s-c-5 {
  background-color: #333;
}
.s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
  display: block;
}

.s-type-2 .s-content {
  animation: slider-animation 50s ease-in-out infinite;
}
.s-type-2 .s-content:hover {
  animation-play-state: paused;
}

@keyframes slider-animation {
  0%, 7% {
    transform: translateX(0%);
  }
  12.5%, 19.5% {
    transform: translateX(-20%);
  }
  25%, 32% {
    transform: translateX(-40%);
  }
  37.5%, 44.5% {
    transform: translateX(-60%);
  }
  50%, 57% {
    transform: translateX(-80%);
  }
  62.5%, 69.5% {
    transform: translateX(-60%);
  }
  75%, 82% {
    transform: translateX(-40%);
  }
  87.5%, 94.5% {
    transform: translateX(-20%);
  }
}
















































/* About Section */
.main {
  background-color: #131313;
  padding: 2rem 1rem 2rem 1rem;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 2rem 1rem 2rem 1rem;
}

.main__content {
  padding:1rem 1rem 1rem 1rem;

  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 2rem;
  background-color: #fe3b6f;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 4rem;
  background: #ff8177; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  font-size: 2rem;
  font-weight: 700;
}


.main__img--container {
  padding:1rem 1rem 1rem 1rem;
  align-items: center;
  justify-content: center;
  width:60rem;
  height:60rem;
}


/* Mobile Responsive */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
